.git
.github
.gitignore
.env
.env.example
.editorconfig
.phpunit.result.cache

/node_modules
/vendor
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/tests
/public/storage
/public/hot

*.log
*.md
!README.md

composer.lock
package.json
package-lock.json
phpunit.xml
webpack.mix.js