root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Frontend (JavaScript, Vue, TypeScript)
[*.{js,jsx,ts,tsx,vue,json}]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

[compose.yaml]
indent_size = 4

# PHP (Laravel)
[*.php]
indent_size = 4
