# Environment files
.env
.env.backup
.env.production

# Vendor
/vendor

# Storage
/storage/*.key
/storage/pail

# Public
/public/build
/public/hot
/public/storage

# Laravel specific
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.phpunit.cache
/.zed
/auth.json
Homestead.json
Homestead.yaml
